div {
  /* display: inline-block; */
}

ul{
  /* padding-top: 0; */
  list-style-type: none;
  /* display: inline; */
}

h1{
  text-align: center;
}

td{
  padding: 17px 8px 17px 8px;
  /* margin-top: 4px; */
}
